@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair", serif;
  }
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-white transition-colors duration-500;
  }
  p, body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
}